.header {
  width: 100%;
  box-sizing: border-box;
  padding-top: 17px;
  padding-right: 40px;
  padding-left: 82px;
}

.title {
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.edit {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit__form {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.edit__form__btn {
  width: 260px;
  height: 42px;
}
