.wrapper {
}

.header {
  width: 100%;
  padding: 17px 40px;
  box-sizing: border-box;
}

.edit {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit__form {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
